.app .todo-heading {
    text-align: center;
    color: limegreen;
    background-color: rgba(225, 225, 225, 0.3);
    padding-block: 1rem;
    margin: 0; 
    font-size: clamp(2rem, 2.5vw, 3.5rem);
}