.form {
    width: min(500px, 90%);
    margin-inline: auto;
    margin-top: 1rem;
    border: 2px solid limegreen;
}

.icon {
    color: #fff;
    font-size: 2rem;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.input-container input[type="text"] {
    flex-grow: 1;
    padding: 0.5rem;
}