.todo-list-wrapper{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}





.todo-list {
    color: #fff;
}

.todo-list-container {
    padding: 1rem;
    width: min(500px, 90%);
    margin-inline: auto;
    margin-top: 1rem;
    border: 2px solid limegreen;
}

.todo-list-container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.del-icon{
    font-size: 2rem;
}
 
.btn-icon {
    font-size: 1.5rem;
}