.header-section {
    width: min(500px, 90%);  
    margin-inline: auto;
    margin-top: 4rem;
    border: 2px solid limegreen;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 2px solid white; */
}

.header-container > .heading {
    font-size: clamp(1.5rem,  2.5vw, 3.5rem);
}

.header-container > p {
    padding: 1rem;
    background-color: limegreen;
    border-radius: 50%;
    font-size: 1.5rem;
}

.header-container * {
    color: #fff;
}
